alembic==1.11.1
aioconsole==0.6.2
anthropic==0.8.1
beautifulsoup4>=4.12.3
chromadb==0.4.13
edge-tts==6.1.9
emoji==2.9.0
fastapi[all]==0.103.2
firebase_admin==6.2.0
google-cloud-speech==2.23.0
httpx==0.25.0
langchain==0.0.308
llama_index==0.8.39.post2
numpy==1.26.0
openai
pgvector==0.2.3
psycopg2-binary==2.9.9
pyaudio==0.2.13
pydantic>=2.3.0
pydub==0.25.1
pypdf>=4.0.1
pytest==7.4.2
python-dotenv==1.0.0
readerwriterlock==1.0.9
rebyte-langchain>=0.0.5
requests>=2.32.3
simpleaudio==1.0.4
SpeechRecognition==3.10.0
SQLAlchemy==2.0.21
starlette==0.27
twilio==8.9.0
dashscope>=1.20.1
faiss-cpu
grpcio
jieba
json5
jupyter>=1.0.0
langchain-community==0.0.20
langchain-core
langchain-experimental
llama-index-readers-json
llama-index-retrievers-bm25
moviepy
nbformat
opencv-python
openpyxl
pdfminer.six
Pillow
pytest-mock
requests>=2.32.3
seaborn
sentencepiece
tiktoken
unstructured
huggingface-hub>=0.21.2
datasets>=2.18.0
tokenizers>=0.14,<0.19
faster_whisper
modelscope[framework]>=1.16.0
deepgram-sdk